/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para la barra superior */
.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Posicionar el título (BOOKNEST) en la esquina superior izquierda */
.logo h1 {
    position: fixed;
    top: 33px;
    left: 120px;
    margin: 0;
}

/* Estilos para el buscador y los elementos a la derecha */
.toolbar-right {
    position: fixed;
    top: 33px;
    right: 110px;
    display: flex;
    align-items: center;
}

/* Estilos para la barra de búsqueda */
.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 200px;
}

/* Estilos para el icono de usuario */
.user-icon {
    width: 60px;
    height: 40px;
    margin-left: 20px;
}

/* Estilos para "Mis Listas" */
.mis-listas {
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilos para la sección "Top libros" */
.top-libros {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.libros-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
