{{>header}}

<div class="toolbar-right">
    <a href="/adminLoggedIn">Volver</a>
</div>
</header>
<main>
    <section class="añadir-libro">
        <h2>Añadir Libro</h2>
        <!-- <form action="/adminLoggedIn/book-manager/add-book" method="post">
                <input type="hidden" name="_csrf" value="{{token}}" />
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            
                <label for="autor">Autor:</label>
                <select id="autor" name="autor" required>
                    {{#authors}}
                        <option value="{{name}}">{{name}}</option>
                    {{/authors}}
                </select>
            
                <label for="año">Año de publicación:</label>
                <input type="number" id="año" name="año" required>
            
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
                <label for="archivo">Seleccionar archivo:</label>
                <input type="file" id="archivo" name="file" accept=".pdf,.png" onchange="obtenerDireccionArchivo(this)">

                <button type="submit">Guardar</button>
            </form>-->

            <form action="/adminLoggedIn/book-manager/add-book" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="{{token}}" />
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            
                <label for="autor">Autor:</label>
                <select id="autor" name="autor" required>
                    {{#authors}}
                    <option value="{{name}}">{{name}}</option>
                    {{/authors}}
                </select>
            
                <label for="año">Año de publicación:</label>
                <input type="number" id="año" name="año" required>
            
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
            
                <label for="archivo">Subir imagen:</label>
                <input type="file" id="archivo" name="file" accept="image/*" required>
            
                <button type="submit">Guardar</button>
            </form>
        {{>footer}}