{{>header}}

        <div class="toolbar-right">
            <a href="/book-manager">Volver</a>
        </div>
    </header>
    <main>
        <section class="añadir-libro">
            <h2>Añadir Libro</h2>
            <form action="/add-book" method="post" enctype="multipart/form-data">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="autor">Autor:</label>
                <input type="text" id="autor" name="autor" required>

                <label for="año">Año de publicación:</label>
                <input type="number" id="año" name="año" required>

                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>

                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" name="imagen" accept="image/*" required>

                <button type="submit">Guardar</button>
            </form>
{{>footer}}