{{>header}}
        <div class="toolbar-right">
            <input type="text" placeholder="Buscar libros..." class="search-bar">
            <a href="/book-manager">Gestionar libros</a>
            <a href="/author-manager">Gestionar autores</a>
            <a href="/">Cerrar sesión</a>
        </div>
    </header>
    <main>
        <section class="top-libros">
            <h2>📚 Libros populares de esta semana</h2>
            <div class="libros-container">
                {{#books}}
                <a href="/books/{{id}}" class="libro-card">
                    <img src="data:image/jpeg;base64,{{#imageBase64}}{{imageBase64}}{{/imageBase64}}" alt="{{name}}">
                    <h3>{{name}}</h3>
                </a>
                {{/books}}
            </div>
{{>footer}}