{{>header}}
        <div class="toolbar-right">
            <a href="/adminLoggedIn">Volver</a>
        </div>
    </header>
    <main>
        <section class="gestion-autores">
            <h2>Gestionar Autores</h2>
            <div class="botones-gestion">
                <a href="/add-author" class="boton">Añadir autor</a>
                <a href="/edit-author" class="boton">Modificar autor</a>
                <a href="/delete-author" class="boton">Eliminar autor</a>
            </div>
{{>footer}}