<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Autores - BookNest</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header class="toolbar">
        <div class="logo">
            <img src="../images/logo.png" alt="BookNest Logo">
            <h1>BOOKNEST</h1>
        </div>
        <div class="toolbar-right">
            <a href="/adminLoggedIn">Volver</a>
        </div>
    </header>
    <main>
        <section class="gestion-autores">
            <h2>Gestionar Autores</h2>
            <div class="botones-gestion">
                <a href="/add-author" class="boton">Añadir autor</a>
                <a href="/edit-author" class="boton">Modificar autor</a>
                <a href="/delete-author" class="boton">Eliminar autor</a>
            </div>
        </section>
    </main>
</body>

</html>