{{>header}}
<div class="toolbar-right">

</div>
</header>
<main>
    <h1>{{bookList.name}}</h1>
    <!--<ul>
        {{#bookList.books}}
        <li>
            <strong>Title:</strong> {{name}} <br>
            <strong>Author:</strong> {{author.name}} <br>
            <strong>Year:</strong> {{yearPub}}
        </li>
        {{/bookList.books}}
    </ul>-->

    <div class="libros-container">
        {{#bookList.books}}
        <div class="libro">
            <a href="/book/{{id}}" class="libro-imagen-link">
                {{#imageBase64}}
                <img src="data:image/jpeg;base64,{{imageBase64}}" alt="{{name}}" class="libro-imagen">
                {{/imageBase64}}
            </a>
            <div class="libro-titulo">{{name}}</div>
            <div class="libro-botones">
                <a href="/adminLoggedIn/delete-book/{{id}}" class="boton boton-eliminar">Eliminar</a>
            </div>
        </div>
        {{/bookList.books}}
    </div>
{{>footer}}

