{{>header}}
<div class="toolbar-right">
    <a href="/">Inicio</a>
</div>
</header>
<main>
    <section class="book-details">
        <div class="book-header">
            <h1>{{book.name}}</h1>
            <p><a href="/author/{{book.author.id}}">{{book.author.name}}</a> ({{book.yearPub}})</p>
        </div>
        <!--<div class="book-content">
            {{#book.imageBase64}}
            <img src="data:image/jpeg;base64,{{book.imageBase64}}" alt="{{book.name}}">
            {{/book.imageBase64}}
            {{^book.imageBase64}}
            <img src="/images/default.jpg" alt="{{book.name}} (Sin imagen)">
            {{/book.imageBase64}}-->
            <div class="book-content">
                {{#book.imageBase64}}
                    <img src="data:image/jpeg;base64,{{book.imageBase64}}" alt="{{book.name}}">
                {{/book.imageBase64}}
                {{^book.imageBase64}}
                    {{#book.imageUrl}}
                        <img src="{{book.imageUrl}}" alt="{{book.name}}">
                    {{/book.imageUrl}}
                    {{^book.imageUrl}}
                        <img src="/images/default.jpg" alt="{{book.name}} (Sin imagen)">
                    {{/book.imageUrl}}
                {{/book.imageBase64}}

          

            <div class="book-info">
                <h2>Descripción</h2>
                <p>{{book.description}}</p>
                <h2>Detalles</h2>
                <ul>
                    <li><strong>Autor:</strong> {{book.author.name}}</li>
                    <li><strong>Año de publicación:</strong> {{book.yearPub}}</li>
                </ul>
                {{#isUser}}
                <div class="review-form">
                    <div class="form-row">
                        <form action="/book/{{book.id}}/reviews/add" method="post" class="inline-form">
                            <h2>Escribe una reseña</h2>
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                            <textarea name="textReview" placeholder="Escribe tu reseña aquí..." required></textarea>
                            <label for="rate">Calificación:</label>
                            <select name="rate" id="rate" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <input type="hidden" name="bookId" value="{{book.id}}">
                            <input type="hidden" name="userId" value="{{#loggedUser}}{{loggedUser.id}}{{/loggedUser}}">
                            {{#alreadyExitsAReview}}
                            <button type="submit">Actualizar reseña</button>
                            {{/alreadyExitsAReview}}
                            {{^alreadyExitsAReview}}
                            <button type="submit">Publicar reseña</button>
                            {{/alreadyExitsAReview}}
                        </form>
                        {{#alreadyExitsAReview}}
                        <form action="/book/{{book.id}}/reviews/delete" method="post" class="inline-form"
                            style="text-align: center;">
                            <h2>Eliminar reseña</h2>
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                            <button type="submit" class="delete-button">Eliminar reseña</button>
                        </form>
                        {{/alreadyExitsAReview}}
                        <form action="/book/{{book.id}}/add-to-list" method="post" class="inline-form">
                            <h2>Añadir a lista</h2>
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                            <label for="userLists">Selecciona una lista:</label>
                            <select name="listId" id="userLists" required>
                                {{#user.bookLists}}
                                <option value="{{id}}">{{name}}</option>
                                {{/user.bookLists}}
                                {{^user.bookLists}}
                                <option value="" disabled>No tienes listas disponibles</option>
                                {{/user.bookLists}}
                            </select>
                            <button type="submit">Añadir a la lista</button>
                        </form>
                    </div>
                </div>
                {{/isUser}}
            </div>
        </div>
        <div class="reviews-section">
            <h2>Reseñas</h2>
            <div class="reviews-container">
                {{#book.reviews}}
                <div class="review">
                    <p><a href="/user/{{user.id}}"><strong>{{user.name}}</strong></a> - Calificación: {{rate}}/5</p>
                    <p>{{textReview}}</p>
                </div>
                {{/book.reviews}}
            </div>
        </div>
    </section>
</main>
{{>footer}}