{{>header}}
    <div class="toolbar-right">
        <a href="/adminLoggedIn">Volver</a>
    </div>
</header>
<main>
    <section class="book-manager">
        <h2>Gestionar Libros</h2>
        <div class="botones-gestion">
            <a href="/adminLoggedIn/add-book" class="boton">Añadir libro</a>
            <!--<a href="/adminLoggedIn/edit-book" class="boton">Modificar libro</a>
            <a href="/adminLoggedIn/delete-book" class="boton">Eliminar libro</a>-->
        </div>
    </section>
</main>
{{>footer}}