{{>header}}
        <div class="toolbar-right">
            <a href="/author-manager">Volver</a>
        </div>
    </header>
    <main>
        <section class="eliminar-autor">
            <h2>Eliminar Autor</h2>
            <p>¿Estás seguro de que deseas eliminar al autor "{{author.name}}"?</p>
            <form action="/eliminar-autor" method="post">
                <input type="hidden" name="id" value="{{author.id}}"> <!-- Campo oculto para el ID del autor -->
                <button type="submit">Eliminar</button>
                <a href="/author-manager">Cancelar</a>
            </form>
{{>footer}}