/* Esta va a ser la pantalla de listas guardadas:
    - por defecto tenemos la lista de me gustas y el watchlist
    - luego se pueden crear más listas
*/


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNest - Página Principal</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="script.js" defer></script>
    <style>
        .listas-container .listas {
            cursor: pointer;
            padding: 10px;
            border: 1px solid #ccc;
            margin: 5px;
            display: inline-block;
        }
        .listas-container .listas:hover {
            background-color: #f0f0f0;
        }
        .listas {
            display: none;
        }
    </style>
</head>
<body>
    <header class="toolbar">
        <div class="logo">
            <img src="../images/logo.png" alt="BookNest Logo">
            <h1>BOOKNEST</h1>
        </div>
        <div class="toolbar-right">
            <input type="text" placeholder="Buscar libros..." class="search-bar">
            <img src="../images/user.png" alt="Usuario" class="user-icon">
            <!--<span class="pagina-principal">Página principal</span>-->
            <a href="mainLoggedIn.html">Página principal</a></p>
        </div>
    </header>
    <main>
        <section class="top-libros">         
            <h2>Mis Listas</h2>
            <div class="listas-container">
                <div class="listas" onclick="mostrar('Lista1')">❤️</div>
                <div class="listas" onclick="mostrar('Lista2')">To read</div>
                <div class="listas" onclick="mostrar('Lista3')">Otras listas...</div>
            </div>
        </section>
    </main>

    <div id="Lista1" class="listas">
        Romeo y Julieta <br>
    </div>

    <div id="Lista2" class="listas">
        La Biblia <br>
    </div>

    <div id="Lista3" class="listas">
        Harry Potter <br>
    </div>

    <script>
        function mostrar(id) {
            let listaDiv = document.getElementById(id);
            if (listaDiv.style.display === "none" || listaDiv.style.display === "") {
                listaDiv.style.display = "block";
            } else {
                listaDiv.style.display = "none";
            }
        }
    </script>
    
</body>
</html>