<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNest - Página Principal</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="script.js" defer></script>
</head>
<body>
    <header class="toolbar">
        <div class="logo">
            <img src="../images/logo.png" alt="BookNest Logo">
            <h1>BOOKNEST</h1>
        </div>
        <div class="toolbar-right">
        </div>
    </header>
    <header>
        <h1>Log In</h1>
    </header>
    <div class="centered-content">
    <main>
        <p>¿Acceder como administrador?</p>
        <p><a href="adminLoggedIn">ACCEDER</a></p>
    </main>
</body>
</html>