{{>header}}
        <div class="toolbar-right">
        </div>
    </header>
    <header>
        <h1>Log In</h1>
    </header>
    <div class="centered-content">
        <main>
            <form action="/login" method="post">
                <pForm>LOG IN</pForm>
                <labelUser for="user">User:</labelUser>
                <input type="text" id="username" name="username" required>

                <labelPassword for="password">Password:</labelPassword>
                <input type="password" id="password" name="password" required>
                <input type="hidden" name="_csrf" value="{{token}}"/>

                <button type="submit" class="btn btn-primary">Enter</button>
                <p th:if="${error}" class="text-danger mt-3" th:text="${error}"></p>
            </form>
            <p>¿Don't have an account? <a href="sign_up.html">Click here to sign up</a></p>
        </main>
</body>

</html>