<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNest - Página Principal</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="script.js" defer></script>
</head>
<body>
    <header class="toolbar">
        <div class="logo">
            <img src="../images/logo.png" alt="BookNest Logo">
            <h1>BOOKNEST</h1>
        </div>
        <div class="toolbar-right">
        </div>
    </header>
    <header>
        <h1>Log In</h1>
    </header>
    <div class="centered-content">
    <main>
        <form th:action="@{/user}" method="post">
            <pForm>LOG IN</pForm>
            <labelUser for="user">User:</labelUser>
            <input type="text" id="username" name="username"required>
            
            <labelPassword for="password">Password:</labelPassword>
            <input type="password" id="password" name="password" required>
            
            <button type="submit" class="btn btn-primary">Enter</button>
            <p th:if="${error}" class="text-danger mt-3" th:text="${error}"></p>
        </form>
        <p>¿Don't have an account? <a href="sign_up.html">Click here to sign up</a></p>
    </main>
</body>
</html>
