<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNest - Página Principal</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
</head>
<body>
    <header class="toolbar">
        <div class="logo">
            <img src="../images/logo.png" alt="BookNest Logo">
            <h1>BOOKNEST</h1>
        </div>
        <div class="toolbar-right">
        </div>
    </header>
    <div class="centered-content">
        <h1>BOOKNEST</h1>
        <p>En esta página puedes gestionar tu colección de libros, añadir nuevos libros, </p>
        <p2>editar información existente y mucho más.</p2>
        <nav>
            <ul>
                <li><a href="log_in.html">Log in</a></li>
                <li><a href="sign_up.html">Sign up</a></li>
            </ul>
            <p3>¿No tienes cuenta?<a href="notLoggedIn.html">  Entrar como invitado</a></p3>
        </nav>
    </div>
    <main>
    </main>
</body>
</html>