{{>header}}
        <div class="toolbar-right">
        </div>
    </header>

    <div class="centered-content">
        <main>
            <form action="/signUp" method="post">
                <pForm>SIGN UP</pForm>
                <labelUser for="user">User:</labelUser>
                <input type="text" id="username" name="username" required>

                <labelPassword for="password">Password:</labelPassword>
                <input type="password" id="password" name="password" required>
                <input type="hidden" name="_csrf" value="{{token}}"/>

                <button type="submit" class="btn btn-primary">Enter</button>
                <p th:if="${error}" class="text-danger mt-3" th:text="${error}"></p>
            </form>
            <p>Do you already have an account?</p> <a href="/login">Click here to log in</a></p>
        </main>
</body>

</html>

<!--ESTO ES PARA CUANDO TENGAMOS USUARIOS
    ES SIMPLEMENTE PARA APORTAR NAVEGACIÓN "INICIAL" A LA PÁGINA -->
    
<!--<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNest - Página Principal</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="script.js" defer></script>
</head>
<body>
    <header class="toolbar">
        <div class="logo">
            <img src="../images/logo.png" alt="BookNest Logo">
            <h1>BOOKNEST</h1>
        </div>
        <div class="toolbar-right">
        </div>
    </header>
    <div class="centered-content">
        <main>
            <form th:action="@{/user}" method="POST">
                <h1>SIGN UP</h1>
                <label for="name">Name:</label>
                <input type="text" id="username" name="username" required>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
    
                <button type="submit">Sign up</button>
            </form>
            <p>¿Already have an account? <a href="log_in.html">Click here to log in</a></p>
</body>
</html>-->
