{{>header}}
<div class="toolbar-right">

</div>
</header>
<main>
    <div class="user-info">
        <form action="/create-book-list" method="POST" class="create-list-form">
            <label for="list-name">New List Name:</label>
            <input type="text" id="list-name" name="listName" required>
            <button type="submit">Create List</button>
        </form>
        <form>
            <h1>{{user.name}}'s Book Lists</h1>

            {{#user.bookLists}}
            <div class="book-list">
                <h2>{{name}}</h2>
                <ul>
                    {{#books}}
                    <li class="book-item">{{name}}</li>
                    {{/books}}
                </ul>
            </div>
            {{/user.bookLists}}
        </form>
    </div>

    {{>footer}}