{{>header}}
<div class="toolbar-right">
    <form action="/logout" method="post">
        <button class="btn btn-primary navbar-btn" type="submit">Log
            Out</button>
        <input type="hidden" name="_csrf" value="{{token}}" />
    </form>
</div>
</header>
<main>
<div class="user-info">
    <h2>Información del Usuario</h2>
    <form action="/user/change-name" method="POST">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username"  placeholder="Nombre de usuario" required>
        <input type="hidden" name="_csrf" value="{{token}}" />
        <button type="submit">Actualizar Información</button>
    </form>
    <form action="/user/change-password" method="POST">
        <label for="password">Nueva Contraseña:</label>
        <input type="hidden" name="_csrf" value="{{token}}" />
        <input type="password" id="password" name="password" required>
        <button type="submit">Cambiar Contraseña</button>

    </form>

    <form action="/user/delete" method="POST" >
        <input type="hidden" name="_csrf" value="{{token}}" />

        <button type="submit" class="delete-button">Eliminar Usuario</button>
    </form>
</div>

{{>footer}}
